html, body {
    height: 100%;
    background-image: url("jane-background-2.jpg");
    color: #ffffff;
}

h1, h2, li {
    color: #ffffff;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin: auto;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: lighter;
}

h1.title {
    font-size: 60px;
    margin-top: 30px;
    line-height: 50px;
}

h2.title {
    width: 80%;
    margin: auto;
    font-size: 30px;
    margin-top: 50px;
}

p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}

p.image {
    width: 500px;
    padding-top: 40px;
    margin: auto;
}

img {
    margin-left: 30px;
    margin-right: 30px;
    border: #111111 solid medium;
}

.logo {
    margin-left: 0px;
    border: none;
}

ul {
    margin-top: 150px;
    list-style: none;
}

li {
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

a {
    color: #dcdcdc;
}

div.content {
    padding-right: 40px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}